.website_header {
    background-color: #014E56;
}

.header__text {
    display: flex;
    gap: 70px;
    font-size: 18px;
    color: white;
    align-items: center;
}

.header__myteam__img {
    display: flex;
    justify-content: space-between;
    padding: 70px 165px 0 165px;
}

.header__button {
    background-color: #014E56;
    border-radius: 20px;
    width: 150px;
    height: 53px;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
}

.header__button:hover {
    background-color: rgb(255, 255, 255);
    color: black;

}

.header__button>p:hover {
    color: black;
}

.header__button>p {
    font-size: 16px;
    color: white;
}

.button__div>button {
    align-items: center;
}

.main__about {
    font-size: 66px;
    color: white;
}

.main__coment {
    font-size: 18px;
    color: white;
    width: 550px;
    padding-top: 130px;
    padding-bottom: 50px
}

.main__1-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 165px;
}

.website_main {
    background-color: #014E56;
}

.cart__div {
    display: flex;
    gap: 50px;
    padding: 0 0 0 250px;
}

.div__Meet>p {
    font-size: 40px;
    color: white;
    padding-top: 35px;
}

.section__2 {
    background-color: #004047;
}

.bg__2 {
    background-color: #004047;
    padding: 60px 0;
}

.cart__div>div>img {
    width: 300px;
    height: 260px;
}

.div__Meet {
    background-color: #004047;
    padding-left: 600px;
    padding-bottom: 20px;
}

.div__Met {
    font-size: 40px;
    color: white;
    padding-left: 550px;
}

.img__group>img {
    padding-left: 160px;
    width: 1200px;
}

.div {
    background-color: #012F31;
    padding: 50px 0;
}

.div__end {
    background-color: #F67E7E;
    display: flex;
    justify-content: space-between;
    padding: 20px 262px;
    align-items: center;
}

.text__ready {
    font-size: 40px;
    color: white;
}

.button__end>button {
    width: 150px;
    border-radius: 20px;
    background-color: #F67E7E;
    border: 2px solid white;
}

.button__end>button:hover {
    background-color: rgb(215, 178, 178);
}

.button__end>button:active {
    background-color: white;
}

.button__end>button>p:active {
    color: black;
}

.button__end>button>p {
    font-size: 16px;
    color: white;
}

footer {
    background-color: black;
}

.footer__img {
    display: flex;
    justify-content: space-between;
    padding: 30px 160px;
}

.icons__twiter {
    display: flex;
    gap: 30px;
}

.burger_icons {
    display: none;
}

.img__grouu_10 {
    display: none;
}

@media (max-width:768px) {
    .header__myteam__img {
        align-items: center;
        padding: 10px 15px;
    }

    .main__1-div {
        flex-direction: column;
        margin: 0px;
    }

    .main__coment {
        padding: 0;
        width: 330px;
        align-items: center;
        padding-bottom: 50px;
        justify-content: center;
        align-items: center;
    }

    .div__Meet {
        padding-left: 230px;
    }

    .cart__div {
        padding: 0 0px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }

    .div__Met {
        padding-left: 200px;
    }

    .img__group>img {
        padding-left: 30px;
        width: 650px;
        padding-bottom: 50px;
    }

    .div {
        background-color: #004047;
    }

    .div__end {
        padding: 20px 50px;
    }

    .footer__img {
        padding: 30px 40px;
        align-items: center;
    }

    .main__about {
        height: 180px;
    }

    .text__ready {
        color: black;
    }

    .button__end>button {
        border: 2px solid black;
    }

    .button__end>button>p {
        color: black;
    }

    .bg__2 {
        padding: 15px 0 40px 0;
    }
    .main__coment {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .header__button:hover{
        background-color: gray;

    }
}

@media (max-width:400px) {

    .header__text {
        gap: 10px;
        font-size: 14px;
    }

    .div__Meet {
        padding-left: 30px;
    }

    .div__Met {
        padding-left: 30px;
    }

    .img__group>img {
        padding-left: 10px;
        width: 350px;
        display: none;
    }

    .div__end {
        flex-direction: column;
    }

    .text__ready {
        font-size: 30px;
    }

    .header__text {
        display: none;
    }

    .burger_icons {
        display: block;
    }

    .img__grouu_10 {
        display: block;
        padding-left: 100px;
    }

    .bg__2 {
        padding: 15px 0 0px 0;
    }

    .main__coment {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .text__ready {
        font-family: Livvic;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: center;

    }
    .footer__img{
        flex-direction: column;
        row-gap: 20px;
    }


    
}